<h1> Edit Sale Order</h1>
<form action="/review/save" method="post">
    <input type="hidden" name="review_id" value="<%= onerec.review_id %>" >
    <table>
        <tr> <td> Customer ID: </td> <td> <input type="int" name="customer_id" value="<%= onerec.customer_id %>" required> </td> </tr>
        <tr> <td> Prodcut ID: </td> <td> <input type="int" name="product_id" value="<%= onerec.product_id %>" required> </td> </tr>
        <tr> <td> Review Date: </td> <td> <input type="date" name="reviewdate" value="<%= onerec.reviewdate.toISOString().split('T')[0] %>" required> </td> </tr>
        <tr> <td> Comments: </td> <td> <input type="text" name="comments" value="<%= onerec.comments %>" required> </td> </tr>
        <tr> <td> Rating: </td> <td> <input type="int" name="rating" value="<%= onerec.rating %>" required> </td> </tr>
        <tr> <td> Status: </td> <td> <input type="text" name="status" value="<%= onerec.status %>" required> </td> </tr>
        </table>
    <button type="submit">Save</button>
</form>
